.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.program-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.6rem;
}
.first{
    text-transform: uppercase;
    color: blue;
}
.second{
    font-size: 3rem;
    font-weight: bold;
}
